.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spacer {
  margin: 0.5rem 0 0.5rem 0;
}

.box {
  min-width: 60vw;
  min-height: 25vh;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.sprite {
  width: 100%;
}
